# Assignment 7

*(Due Saturday, November 2, 2019 at noon.)*

In [1]:
import numpy as np
import pandas as pd

1) Load either your dataset, `brfss`, or `nhis` and create at least three derived fields from the data there. Ideally, these will be fields you'll need for your final project.

In [19]:
proj=pd.read_excel('../dataset/CSC_project.xlsx')
proj.head()

,Code,GENDER,ETHNICITY,FIRST_GEN,HOME_CITY,HOME_STATE,PELL_IND,TD_IND,FERPA_FLG,PRIMARY_PROGRAM,...,CUM_GPA,SAT_SCORE,ACT_SCORE,HS_CONV_GPA,STEM_CRSE_COUNT_TERM,STEM_CRSE_COUNT_TOTAL,Exam One,Diagnostic Exam,First Module,Subject Enhancement Project
0,100,F,2+ Races,Y,Seekonk,MA,N,N,N,UC_PH,...,0.00,1110,0,3.1,3,3,48.0,70,5.0,50
1,101,M,2+ Races,Y,Exeter,RI,Y,N,N,UC_EL,...,0.00,0,0,NaN,1,1,50.0,75,6.0,50
2,102,M,2+ Races,N,Pawtucket,RI,Y,Y,N,UC_AS,...,1.93,0,0,NaN,1,1,13.0,50,0.0,0
3,103,F,2+ Races,Y,Cranston,RI,N,N,N,UC_EL,...,4.00,1140,0,4.1,2,2,92.0,90,12.0,50
4,104,M,2+ Races,N,Holbrook,NY,N,N,N,UC_EL,...,0.00,1020,0,NaN,2,2,40.0,60,0.0,0

In [32]:
proj_pd=pd.DataFrame(proj)
print (proj_pd.columns)
proj_pd.rename(columns= {'Exam One':'Exam1','Diagnostic Exam':'DigEx','First Module':'Mod1'},inplace=True)
print (proj_pd.columns)

Index(['Code', 'GENDER', 'ETHNICITY', 'FIRST_GEN', 'HOME_CITY', 'HOME_STATE',
       'PELL_IND', 'TD_IND', 'FERPA_FLG', 'PRIMARY_PROGRAM', 'PRIM_PROG_DESCR',
       'ACAD_PLAN1', 'ACAD_PLAN1_DESCR', 'ACAD_LEVEL', 'UNITS_TAKING',
       'TOT_CUM_CREDITS', 'CUM_GPA', 'SAT_SCORE', 'ACT_SCORE', 'HS_CONV_GPA',
       'STEM_CRSE_COUNT_TERM', 'STEM_CRSE_COUNT_TOTAL', 'Exam One',
       'Diagnostic Exam ', 'First Module ', 'Subject Enhancement Project'],
      dtype='object')
Index(['Code', 'GENDER', 'ETHNICITY', 'FIRST_GEN', 'HOME_CITY', 'HOME_STATE',
       'PELL_IND', 'TD_IND', 'FERPA_FLG', 'PRIMARY_PROGRAM', 'PRIM_PROG_DESCR',
       'ACAD_PLAN1', 'ACAD_PLAN1_DESCR', 'ACAD_LEVEL', 'UNITS_TAKING',
       'TOT_CUM_CREDITS', 'CUM_GPA', 'SAT_SCORE', 'ACT_SCORE', 'HS_CONV_GPA',
       'STEM_CRSE_COUNT_TERM', 'STEM_CRSE_COUNT_TOTAL', 'Exam1',
       'Diagnostic Exam ', 'First Module ', 'Subject Enhancement Project'],
      dtype='object')

In [37]:
proj_pd.dropna(subset=['Exam1'], inplace=True)

In [ ]:
proj_pd['SUM']= proj.Exam1 + proj.DigEx + proj.Mod1.astype(np.int8)

In [ ]:
proj_pd['Average'] = proj_pd.SUM/210.astype(np.int16)

In [ ]:
proj_pd['Predict']= np.where(proj_pd.SUM==80, proj_pd.Average*2).astype(np.int16)

In [ ]:
CSC_project

2) Run the following cell.

In [ ]:
import seaborn as sns
sns.__version__

#### Submitting

In the Terminal (Mac) or Git Bash (Windows):

`git commit -a -m 'Assignment 7 completed'`  
`git push`

### Reading

1. [_Python for Data Analysis_](https://uri-primo.hosted.exlibrisgroup.com/permalink/f/10nopmq/01URI_ALMA51209454630002396):
    * Chapter 9